body {
  font-family: 'Open Sans';
  line-height: 1.6;
  margin: 0;
  padding: 0;
  color: #222;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  background-color: #222;
  overflow: hidden;
}

header img {
  width: 100px;
  height: auto;
}

nav ul {
  display: flex;
  flex-direction: column; 
  list-style: none;
  padding: 0;
}

nav ul li {
  margin-bottom: 5px; 
}

nav ul li a {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  color: #c78c06;
}

nav ul li a:hover {
  background-color: #c78c06;
}

.search-bar {
  display: flex;
}

.search-bar input[type="text"] {
  padding: 10px 10px;
  width: 150px;
  border: 1px solid white;
}

.search-bar button {
  padding: 10px 10px;
  background-color: #222;
  color: white;
  border: none;
  cursor: pointer;
}

.search-bar button:hover {
  background-color: #222;
}

.welcome-container {
  padding: 50px 0;
  text-align: center;
}

.welcome-container img {
  width: 100%;
  height: auto;
}

.welcome-container h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.welcome-container .welcome-text {
  margin-bottom: 20px;
}

.welcome-container button {
  padding: 10px 20px;
  background-color: #222;
  color: white;
  border: none;
  cursor: pointer;
}

.welcome-container button:hover {
  background-color: #222;
}

.about-us-container {
  padding: 50px 0;
  text-align: center;
}

.about-us-container img {
  width: 100%;
  height: auto;
}

.about-us-container h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.about-us-container .about-us-text {
  margin-bottom: 20px;
}

@media (max-width: 760px) {
  header {
      flex-direction: column;
  }
   
  nav ul li a:hover {
  background-color: #c78c06;
  color: #222;
    
 }

  .search-bar {
      width: 95%;
      margin-top: 10px;
  }

  .search-bar input[type="text"] {
      width: 95%;
  }
}

