body {
  font-family: 'Open Sans';
  line-height: 1.6;
  margin: 0;
  padding: 0;
  color: #222;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  background-color: #222;
  overflow: hidden;
}

header img {
  width: 100px;
  height: auto;
}

nav ul {
  display: flex; 
  list-style: none;
  padding: 0;
}

nav ul li {
  margin-bottom: 5px; 
}

nav ul li a {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  color: #c78c06;
}

nav ul li a:hover {
  background-color: #c78c06;
}

.search-bar {
  display: flex;
}

.search-bar input[type="text"] {
  padding: 10px 10px;
  width: 150px;
  border: 1px solid white;
}

.search-bar .search-icon {
  padding: 10px 10px;
  font-size: 28px;
  border: 2px solid #c78c06;
  background-color: #222;
  color: #c78c06;
  cursor: pointer;
}

.search-bar .search-icon:hover {
  background-color: #222;
}

.welcome-container {
  padding: 0;
  text-align: center;
  position: relative;
}

.welcome-container img {
  width: 100%;
  height: auto;
}

.welcome-container h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.welcome-container .welcome-text {
  margin-bottom: 20px;
}

.welcome-container button {
  padding: 10px 20px;
  background-color: #222;
  color: white;
  border: none;
  cursor: pointer;
}

.about-us-container {
  padding: 50px 0;
  text-align: center;
}

.about-us-container img {
  width: 100%;
  height: auto;
}

.about-us-container h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.about-us-container .about-us-text {
  margin-bottom: 20px;
}

@media (max-width: 1200px) and (min-width: 760px) {
  header {
      flex-direction: column;
  }

  header img {
    margin-bottom: 10px;
  }

  nav ul {
    display: flex;
    flex-direction: column;
    text-align: center; 
    list-style: none;
    padding: 0;

  }

  nav ul li a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #c78c06;
    position: relative;
  }
   
  nav ul li a:hover {
  background-color: #c78c06;
  color: #222;
    
  }

  .search-bar {
      width: 95%;
      margin-top: 10px;
  }

  .search-bar input[type="text"] {
      width: 95%;
  }

  .welcome-container {
    padding: 0;
    position: relative;
  }
  
  .welcome-container img {
    width: 100%;
    height: auto;
  }
 
  .welcome-container .welcome-transbox {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 75%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    
  }

  .welcome-container h1 {
    font-size: 75px;
    margin-bottom: auto;
    position: absolute;
    text-align: left;
    top: 5%;
    left: 52%;
    width: 100%;
    transform: translate(-50%);
    color: white;
  }
  
  .welcome-container .welcome-text {
    font-size: 16px;
    margin-bottom: 10px;
    position: absolute;
    text-align: left;
    top: 62%;
    left: 52%;
    width: 100%;
    transform: translate(-50%, -50%);
    color: white;
  }
  
  .welcome-container button {
    padding: 25px 30px;
    background-color: #c78c06;
    color: #222;
    cursor: pointer;
    position: absolute;
    bottom: 15%;
    left: 14%;
    transform: translateX(-50%);
  }
  
  .about-us-container {
    padding: 50px 0;
    margin-top: -20px;
    text-align: center;
    background-color: #ffe6ac;
  }
  
  .about-us-container img {
    width: 95%;
    margin: -20px;
    height: auto;
  }
  
  .about-us-container h1 {
    font-size: 45px;
    margin-bottom: 10px;
    margin-left: 20px;
    text-align: left;
    
  }
  
  .about-us-container .about-us-text {
    margin-bottom: 20px;
    margin-left: 20px;
    text-align: left;
  }

  h1 {
    font-size: 45px;
    margin-bottom: 20px;
    margin-left: 20px;
  }

  .service-container {
    padding: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: left;
    background-color: #ffe6ac;
    
  }

  .service-container img {
    width: 100%;
    height: auto;
  }

  .service-container h2 {
    font-size: 35px;
    margin-bottom: 10px;
  }

  .service-container .service-text {
    margin-bottom: 20px;
  }
  

  .service-container button {
    padding: 10px 20px;
    background-color: #222;
    color: white;
    border: none;
    cursor: pointer;
  }

  .vision-container {
    margin-bottom: 20px;
    text-align: left;
    position: relative;
  
  }

  .vision-container img {
    width: 100%;
    height: 280px; 
  }

  .vision-container h2,
  .vision-container .service-text,
  .vision-container button {
    position: absolute;
    color: white;
    width: 80%;
    left: 5%; 
  }

  .vision-container h2 {
    
    top: 30%;
    font-size: 35px;
    margin-bottom: 20px;
    
 
  }


  .vision-container .service-text {
    margin-bottom: 20px;
  }

  .vision-container button {
    padding: 10px 20px;
    background-color: #222;
    color: white;
    border: none;
    cursor: pointer;
  }

  
  
}

