body {
  font-family: 'Open Sans';
  line-height: 1.6;
  margin: 0;
  padding: 0;
  color: #222;
}

body, h1, h2, h3, p, ul, li, form, label, input, textarea, button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


header {
  background-color: #333;
  color: #fff;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style-type: none;
  display: flex;
}

nav ul li {
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #fff;
}


main {
  max-width: 100%;
  margin: 0px;
  padding: 0px;
}

/* Welcome Container Styles */
.welcome-container {
  text-align: center;
  margin-bottom: 0px;
}

.welcome-container img {
  max-width: 100%;
}

/* Welcome Transbox Styles */
.welcome-transbox {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  text-align: left;
}

/* About Us Container Styles */
.about-us-container {
  text-align: center;
  margin: 20px 0;
}

.about-us-container img {
  max-width: 100%;
}

/* Service Container Styles */
.service-container {
  margin: 20px 0;
  text-align: center;
}

.service-container img {
  max-width: 100%;
}

/* Vision Container Styles */
.vision-container {
  text-align: center;
  margin: 20px 0;
}

.vision-container img {
  max-width: 100%;
}

/* Team Container Styles */
.team-container {
  text-align: center;
  margin: 20px 0;
}

.team-container img {
  max-width: 100%;
}

/* Contact Us Container Styles */
.contact-us-container {
  text-align: center;
  margin: 20px 0;
}

/* Operation Time Container Styles */
.operation-time-container {
  text-align: center;
  margin: 20px 0;
}

/* Location Styles */
iframe {
  width: 100%;
}

/* Footer Styles */
footer {
  background-color: #222;
  color: #fff;
  text-align: left;
  padding: 10px;
}


@media screen and (max-width: 760px) {

  header {
    flex-direction: column;
  }
  
  header img {
    margin-bottom: 10px;
    margin-right: 5px;
  }
  
  nav ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    list-style: none;
    padding: 0;
  }
  
  nav ul li a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #c78c06;
    position: relative;
  }
   
  nav ul li a:hover {
    background-color: #c78c06;
    color: #222;
  }
  
  .search-bar {
    width: 90%;
    margin-top: 10px;
}


  .search-bar input[type="text"] {
    width: 90%;
    padding: 10px 10px;
    border: 1px solid white;
}

.search-bar .search-icon {
  
  padding: 2px 10px;
  font-size: 28px;
  border: 1px solid #c78c06;
  background-color: #222;
  color: #c78c06;
  cursor: pointer;
}


.search-bar .search-icon:hover {
  background-color: #222;
}
  
  .welcome-container {
    padding: 0;
    position: relative;
  }
  
  .welcome-container img {
    width: 100%;
    height: auto;
  }
  
  .welcome-transbox {
    position: absolute;
    top: 70%;
    left: 50%;
    width: 100%;
    height: 40%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .welcome-transbox h1 {
    font-size: 75px;
    margin-bottom: auto;
    position: absolute;
    text-align: left;
    top: 1%;
    left: 52%;
    width: 100%;
    transform: translate(-50%);
    color: white;
  }
  
  .welcome-transbox .welcome-text {
    font-size: 16px;
    margin-bottom: 10px;
    position: absolute;
    text-align: left;
    top: 65%;
    left: 55%;
    width: 100%;
    transform: translate(-50%, -50%);
    color: white;
  }
  
  .welcome-transbox button {
    padding: 25px 30px;
    background-color: #c78c06;
    color: #222;
    cursor: pointer;
    position: absolute;
    bottom: 5%;
    left: 15%;
    transform: translateX(-50%);
  }
  
  .about-us-container {
    padding: 50px 0;
    margin-top: -20px;
    text-align: center;
    background-color: #ffe6ac;
  }
  
  .about-us-container img {
    width: 95%;
    margin: -20px;
    height: auto;
  }
  
  .about-us-container h1 {
    font-size: 45px;
    margin-bottom: 10px;
    margin-left: 20px;
    text-align: left;
   
  }
  
  .about-us-container .about-us-text {
    margin-bottom: 20px;
    margin-left: 20px;
    text-align: left;
  }
  
  
  h1 {
    font-size: 45px;
    margin-bottom: 20px;
    margin-left: 20px;
  }
  
  
  .digital-container {
    width: 100%;
    padding: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: left;
    background-color: #ffe6ac;
   
  }
  
  
  .digital-container img {
    width: 100%;
    height: auto;
  }
  
  
  .digital-container h2 {
    font-size: 35px;
    margin-bottom: 10px;
  }
  
  
  .digital-container .service-text {
    margin-bottom: 20px;
  }
  
  
  
  .digital-container button {
    padding: 25px 30px;
    background-color: #222;
    color: white;
    cursor: pointer;
    position: absolute;

  }

  .marketing-container {
    width: 100%;
    padding: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: left;
    background-color: #ffe6ac;
   
  }
  
  
  .marketing-container img {
    width: 100%;
    height: auto;
  }
  
  
  .marketing-container h2 {
    font-size: 35px;
    margin-bottom: 10px;
  }
  
  
  .marketing-container .service-text {
    margin-bottom: 20px;
  }
  
  
  
  .marketing-container button {
    padding: 25px 30px;
    background-color: #222;
    color: white;
    cursor: pointer;
    position: absolute;

  }

  .video-container {
    width: 100%;
    padding: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: left;
    background-color: #ffe6ac;
   
  }
  
  
  .video-container img {
    width: 100%;
    height: auto;
  }
  
  
  .video-container h2 {
    font-size: 35px;
    margin-bottom: 10px;
  }
  
  
  .video-container .service-text {
    margin-bottom: 20px;
  }
  
  
  
  .video-container button {
    padding: 25px 30px;
    background-color: #222;
    color: white;
    cursor: pointer;
    position: absolute;

  }

  .web-container {
    width: 100%;
    padding: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: left;
    background-color: #ffe6ac;
   
  }
  
  
  .web-container img {
    width: 100%;
    height: auto;
  }
  
  
  .web-container h2 {
    font-size: 35px;
    margin-bottom: 10px;
  }
  
  
  .web-container .service-text {
    margin-bottom: 20px;
  }
  
  
  
  .web-container button {
    padding: 25px 30px;
    background-color: #222;
    color: white;
    cursor: pointer;
    position: absolute;

  }

  .print-container {
    width: 100%;
    padding: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: left;
    background-color: #ffe6ac;
   
  }
  
  
  .print-container img {
    width: 100%;
    height: auto;
  }
  
  
  .print-container h2 {
    font-size: 35px;
    margin-bottom: 10px;
  }
  
  
  .print-container .service-text {
    margin-bottom: 20px;
  }
  
  
  
  .print-container button {
    padding: 25px 30px;
    background-color: #222;
    color: white;
    cursor: pointer;
    position: absolute;

  }
  
  
  .vision-container {
    margin-bottom: 20px;
    text-align: left;
    position: relative;
  
  }
  
  
  .vision-container img {
    width: 100%;
    height: 300px;
  }
  
  
  
  
  .vision-container h2 {
    position: absolute;
    top: 5px;
    left: 20px;
    margin-bottom: 20px;
    font-size: 35px;
    color: white;
  
  
  }
  
  
  .vision-container .vision-text {
    position: absolute;
    margin-bottom: 20px;
    top: 100px;
    left: 20px;
    color: white;
  }
  
  
  .vision-container button {
    position: absolute;
    padding: 25px 30px;
    margin-bottom: 20px;
    top: 210px;
    left: 20px;
    background-color: rgba(0, 0, 0, 0.3);
    border-color: #c78c06;
    color: white;
    cursor: pointer;
    position: absolute;
  }
  
  
  h1 {
    font-size: 45px;
    margin-bottom: 20px;
    margin-left: 20px;
  }
  
  
  .team-container {
    padding: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: left;
    background-color: #ffe6ac;
   
  }
  
  
  .team-container img {
    width: 100%;
    height: auto;
  }
  
  
  .team-container h2 {
    font-size: 35px;
    margin-bottom: 10px;
    position: relative;
  }
  
  
  .team-container h3 {
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: -15px;
    position: relative;
  }
  
  
  .team-container h3:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: #c78c06;
    position: absolute;
    bottom: -1px;
  }
  
  
  .team-container .team-text {
    margin-bottom: 20px;
  }
  
  
  
  .team-container button {
    padding: 10px 20px;
    background-color: #222;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  
  .contact-us-container {
    width: 100%;
  }
  
  
  .contact-us-container h1 {
    text-align: left;
  
  }
  
  
  .contact-us-container h2 {
    text-align: left;
    margin-left: 20px;
    margin-top: -15px;
    font-size: 34px;
  }
  
  
  .contact-us-container form {
    max-width: 100%;
    margin-left: 20px;
    margin-top: -25px;
    display: flex;
    flex-direction: column;
  }
  
  
  .contact-us-container input[type="text"],
  .contact-us-container input[type="email"],
  .contact-us-container textarea {
    width: 96%;
    padding: 15px;
    margin-bottom: 15px;
    margin-top: -20px;
    border: solid 1px #222;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  
  .contact-us-container input[type="submit"] {
    width: 10%;
    padding: 8px;
    font-size: 25px;
    margin-top: -25px;
    background-color: #222;
    color: #c78c06;
    border: none;
    cursor: pointer;
  }
  
  .operation-time-container {
    width: 300px;
    margin: 0 auto;
    text-align: left;
  }
  
  
  .operation-time-container p {
    margin: 0;
  }
  
  
  .table-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
  }
  
  
  .days {
    font-size: 18px;
    font-weight: bold;
  }
  
  
  .hours {
    font-size: 16px;
    color: #888;
  }
  
  
  
  }

@media screen and (min-width: 1200px) {
header {
display: flex;
justify-content: space-between;
align-items: center;
padding: 30px 0;
background-color: #222;
overflow: hidden;
}


header img {
width: 100px;
height: auto;
margin-left: 5%;
}


nav ul {
display: flex;
list-style: none;
padding: 0;
}


nav ul li {
margin-right: 30px;

}


nav ul li a {
display: block;
padding: 10px 20px;
text-decoration: none;
color: #c78c06;
}


nav ul li a:hover {
background-color: #c78c06;
color: #222;
}


.search-bar {
padding: 10px 20px;
display: flex;
margin-right: 5%;
margin-top: 10px;
align-items: center;
}


.search-bar input[type="text"] {
padding: 20px 10px;
height: 40px;
width: 200px;
border: 1px solid white;
}


.search-bar .search-icon {
padding: 5px 15px;
font-size: 28px;
margin-top: 10px;
height: 42px;
border: 1px solid #c78c06;
background-color: #222;
color: #c78c06;
cursor: pointer;
}


.search-bar .search-icon:hover {
background-color: #222;
}


.welcome-container {
padding: 0;
margin: 0;
text-align: center;
position: relative;
}


.welcome-container img {
width: 100%;
height: 600px;
}


.welcome-transbox {
position: absolute;
top: 47%;
left: 50%;
width: 80%;
height: 50%;
transform: translate(-50%, -50%);
background-color: rgba(0, 0, 0, 0.6);
flex-direction: column;
justify-content: center;
text-align: center;
}


.welcome-transbox h1 {
font-size: 75px;
margin-bottom: auto;
position: absolute;
text-align: left;
top: -2%;
left: 55%;
width: 100%;
transform: translate(-50%);
color: white;
}


.welcome-transbox .welcome-text {
font-size: 16px;
  margin-bottom: 10px;
  position: absolute;
  text-align: left;
  top: 60%;
  left: 55%;
  width: 100%;
  transform: translate(-50%, -50%);
  color: white;
}


.welcome-transbox button {
  padding: 35px 40px;
  background-color: #c78c06;
  color: #222;
  cursor: pointer;
  position: absolute;
  text-align: left;
  bottom: 10%;
  left: 18%;
  font-size: 24px;
  transform: translateX(-50%);
}


.about-us-container {
margin-top: -20px;
justify-content: center;
text-align: left;
background-color: #ffe6ac;
}


.about-us-container img {
margin-top: -10px;
width: 40%;
height: 50%;

margin-left: 9%;
float: left;
}


.about-us-container h1 {

font-size: 48px;
margin-bottom: 5px;
margin-right: 40px;
margin-left: 20px;
}


.about-us-container .about-us-text {
margin-bottom: 20px;
}



.service-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  background-color: #ffe6ac;
}

.digital-container,
.marketing-container {
  flex: 0 0 40%;
  margin:10px;
  text-align: left;
}
.video-container,
.web-container,
.print-container {
  flex: 0 0 20%;
  margin:10px;
  text-align: left;
}

}
 



