body{
  margin: 0;
  padding: 0;
  background: #aad4cf;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.background-image {
  width: 100%;
  height: auto;
}
  
  
  .header-container {
    position: relative;
    text-align: center;
  
  }
  
  .header-text {
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    color: white; 
    font-size: 48px; 
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  
  
  }
  
  
  .header-container {
    position: relative;
    text-align: center;
}

img {
  width: 220px;
  height: 240px;
}

p {
  font-size: 13px;
}

h3 {
  font-size: 18px;
}

.container {
  width: 80%; 
  max-width: 800px; 
  margin: 0 auto;
  background-color: #dcfcf8; 
}

.navbar ul {
  list-style: none;
  background: #dcfcf8;
  padding: 0;
  margin: 0;
  text-align: center;
  display: flex;
  justify-content: center;
}

.navbar li {
  margin: 0 20px;
  display: inline-block;
}

.navbar a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px 20px;
}

.starfish-facts {
  list-style: none; /* Remove default list styles */
  padding: 0; /* Remove default list padding */
}

.starfish-facts li {
  display: inline; /* Display list items horizontally */
  margin-right: 20px; /* Add some spacing between list items (adjust as needed) */
}







