img {
    width: 40%;
    margin: 1px auto;
    display:block;
  
  }
  
  
  .header-container {
    position: relative;
    text-align: center;
  
  }
  
  .header-text {
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    color: white; 
    font-size: 48px; 
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  
  
  }
  
  body{
    margin: 0;
    padding: 0;
    background: #aad4cf;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .header-container {
    position: relative;
    text-align: center;
}

.background-image {
    width: 50%;
    height: auto;
}
